



<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/style.css">       
</head>

<body id="body">

  <div>
    <h1>
      <%if (n!=null){%>
      <%=n+"'s"%>
     <% } %>
      Streamer Schedule</h1>
   
    <form action="/" method="GET" >
    <input name="name" type="text" placeholder="Your Twitch Name"> <button type="submit" id="user" class="btn btn-primary" >Submit</button>
    </form>
  </div>

  <div class="flex-container">


    <% 
    if (n!=null){
    
    let y=0;
    let z=0;
    for (let x=0; x<s.length; x++ ) { 
        let streamDate=new Date(s[x][0]).toLocaleString('en-us', {day: "numeric"})
        let streamMonth=new Date(s[x][0]).toLocaleString('en-us', {month: "long"})
        let streamDay=new Date(s[x][0]).toLocaleString('en-us', { weekday: "long"})
        let streamTime=new Date(s[x][0]).toLocaleString('en-us', { weekday: "long", day: "numeric"})
        
        const nth = function(d) {
  if (d > 3 && d < 21) return 'th';
  switch (d % 10) {
    case 1:  return "st";
    case 2:  return "nd";
    case 3:  return "rd";
    default: return "th";
  }
}
        let dateOrdinal=nth(streamDate);

        

        if (z==0 && y==0){
            %>
    <h2><%= streamMonth %></h2>
    <div class="month">
      <div class="day">
        <h4><%= streamDay+" the "+streamDate+dateOrdinal %></h4>
        <table class="table table-striped">

          <%  

     }


 else if (y!=s[x][2]&&z!=streamMonth){

 %>
        </table>
      </div>
    </div>
    <h2><%= streamMonth %></h2>
    <div class="month">
      <div class="day">
        <h4><%= streamDay+" the "+streamDate+dateOrdinal %> </h4>
        <table class="table table-striped">

          <% }
        
        
        else if (y!=s[x][2]){

%> </table>
      </div>


      <div class="day">
        <h4><%= streamDay+" the "+streamDate+dateOrdinal %> </h4>
        <table class="table table-striped">

          <% }
  
        %>

          <tr>
            <td> <%= s[x][1] %></td>

            <td> <%= new Date(s[x][0]).toLocaleString('en-us', { hour: "2-digit", minute: "2-digit" }) %></td>

          </tr>
          <%
            
   
            if (s[x+1]==null){
                %>
        </table>
      </div>

      <%

            }
         

            y=s[x][2];
            z=streamMonth;
    }
    
  }
    %>

    </div>
</body>

</html>

<!doctype html>